<% title "Page Blocks" %>

<h1><%= @title %></h1>

<table class="table table-striped">
  <thead>
	  <tr>
	    <th><%= sortable "title" %></th>
	    <th><%= sortable "permalink" %></th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @pages.each do |page| %>
	  <tr>
	    <td><%= page.title %></td>
	    <td><%= page.permalink %></td>
	    <td>
			<% if can? :update, page %><%= link_to "Edit", edit_admin_page_path(page), :class => 'btn btn-mini' %><% end %>
          <% if can? :destroy, page %><%= link_to "Delete",
                      admin_page_path(page),
                      :method => :delete,
                      :confirm => 'Are you sure?',
                      :class => 'btn btn-mini btn-danger' %><% end %>
	    </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<%= paginate @pages %>

<% if can? :create, Page %>
<%= link_to "New Page Block",
            new_admin_page_path,
            :class => 'btn btn-primary' %>
<% end %>

<%= content_for(:side) do %>

<% end %>