<%= simple_form_for [:admin, @event], :html => { :multipart => true, :class => 'form-horizontal upload_form' } do |f| %>
  
<fieldset>

<legend>Event Status</legend>

  <%= f.input :status, :collection => Event::STATUS_LIST, :label_method => :humanize, :include_blank => false %>

</fieldset>
<fieldset>
<legend>Church/Ministry Information</legend>

  <%= f.input :organization, :label => "Name of Organization", :input_html => { :placeholder => "Your Church/Ministry/Organization" } %>
  <%= f.input :organization_address, :label => "Address" %>
  <%= f.input :organization_address2, :label => "Address 2" %>
  <%= f.input :organization_city, :label => "City" %>
  <%= f.input :organization_state, :label => "State/Province" %>
  <%= f.input :organization_zip, :label => "Zip/Postal Code" %>
  <%= f.input :organization_country, :label => "Country", :input_html => { :class => "chzn-select" } %>
  <%= f.input :url, :label => "Website URL" %>

</fieldset>
<fieldset>
<legend>Your Information</legend>

<%= f.input :name, :label => "Your name" %>
<%= f.input :phone %>
<%= f.input :email %>

</fieldset>
<fieldset>	
<legend>Event Information</legend>

  <%= f.input :title, :label => "Title or Name of event" %>
  <%= f.input :event_type, :label => "Type of event" %>

  <%= f.input :banner, :label => "Event Graphic. Resizes to 310px by 206px." %>

  <%= f.input :theme, :label => "What would you like Paul to speak on?", :input_html => { :rows => "3" } %>
  <%= f.input :starts_at, :label => "Event Start Date", :required => true, :as => :string, :input_html => { :class => "datepicker input-small" } %>
  <%= f.input :ends_at, :label => "Event End Date", :as => :string, :input_html => { :class => "datepicker input-small" } %>
  <%= f.input :estimated_attendance, :input_html => { :class => "input-small" } %>
  <%= f.input :other_speakers, :label => "Other confirmed speakers" %>
  <%= f.input :budget_for_additional_traveller, :label => "Would your budget cover someone traveling with Paul?", :as => :radio_buttons %>
  <%= f.input :housing, :label => "Where will Paul be staying?" %>
  <%= f.input :bethel_students, :as => :radio_buttons, :label => "Would you also like a team of Bethel students?" %>
  <%= f.input :bethel_students_total, :label => "If so, how many students?", :input_html => { :class => "input-small" } %>
  <%= f.input :bethel_student_housing, :as => :radio_buttons, :label => "Can you provide host homes for Bethel students?" %>

</fieldset>
<fieldset>
<legend>Event Location</legend>

<div class="control-group radio_buttons optional"><label class="radio_buttons optional control-label">Copy event location from my organization address above?</label><div class="controls"><label class="radio"><input class="radio_buttons optional" id="copy_org_true" name="copy_org_false" type="radio" value="true" />Yes</label><label class="radio"><input class="radio_buttons optional" id="copy_org_false" name="copy_org_false" type="radio" value="false" />No</label></div></div>

  <%= f.input :location_name, :label => "Location of the event" %>
  <%= f.input :address %>
  <%= f.input :address2 %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :country, :input_html => { :class => "chzn-select" } %>
  <%= f.input :airport, :label => "What airport would Paul fly into?" %>

</fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_events_path, :class => "btn" %>
  </div>
<% end %>

<%= render "layouts/uploading" %>