    <h3>Invitation for Paul Manwaring</h3>
    <p>
      The following person just filled in the ministry invitation form on the website:<br />
<strong><%= @event.name %></strong></p>
	<p><%= link_to "View the info online", admin_event_url(@event) %></p>
    <p>
      <strong>Organization:</strong><br /><br />
		<%= @event.organization %><br />
		<%= @event.address %><br />
		<% if @event.address2.present? %>  <%= @event.address2 %><br /><% end %>
		<%= @event.city %>, <%= @event.state %>  <%= @event.zip %>,  <%= @event.country %>
    </p>

    <p>
      <strong>Dates:</strong><br /><br />
		<%= nice_date(@event.starts_at) %><% if @event.ends_at %> to <%= nice_date(@event.ends_at) %><% end %>
    </p>

    <p>
      <strong>Phone:</strong><br /><br />
		<%= @event.phone %>
    </p>
    <p>
      <strong>Email:</strong><br /><br />
		<%= @event.email %>
    </p>