    <h3>Invitation for Paul Manwaring</h3>
    <p>
      <strong><%= @event.name %></strong> just filled in the ministry invitation form on the website:<br />
	  <strong><%= link_to "View Online >>", admin_event_url(@event) %></strong></p>
    <p>
      <strong>Organization:</strong><br />
		<%= @event.organization %><br />
		<%= @event.address %><br />
		<% if @event.address2.present? %>  <%= @event.address2 %><br /><% end %>
		<%= @event.city %>, <%= @event.state %>  <%= @event.zip %>,  <%= @event.country %>
    </p>

    <p>
      <strong>Dates:</strong><br />
		<%= nice_date(@event.starts_at) %><% if @event.ends_at %> to <%= nice_date(@event.ends_at) %><% end %>
    </p>

    <p>
      <strong>Contact:</strong><br />
		<%= @event.phone %>
		<%= @event.email %>
		<%= link_to @event.url, @event.url %>		
    </p>