<%= simple_form_for [:admin, @picture], :html => { :multipart => true, :class => 'form-horizontal upload_form' } do |f| %>
  
<fieldset>
<legend><%= controller.action_name.capitalize %> Picture</legend>

	<%= f.input :image %>
	
	<%= f.input :title %>	
	<%= f.input :description, :input_html => { :rows => 4 } %>		
	
	<%= f.input :published, :collection => [['Yes - Show photo in website', true] ,['No - Hide photo', false]], :as => :radio %>	
	
</fieldset>

<div class="form-actions">
	<%= link_to "Cancel", admin_pictures_path, :class => "btn" %> <%= f.button :submit, :class => 'btn btn-primary' %>
</div>
<% end %>

<%= render "layouts/uploading" %>