<% title "Crop Blog Thumbnail" %>
<% content_for(:head) do %>
	<script type="text/javascript" charset="utf-8">
	$(function() {
	  $('#cropbox').Jcrop({
	    onChange: update_crop,
	    onSelect: update_crop,
	    setSelect: [0, 0, 628, 235],
		aspectRatio: 2.672
	  });
	});

	function update_crop(coords) {
	  $("#crop_x").val(coords.x);
	  $("#crop_y").val(coords.y);
	  $("#crop_w").val(coords.w);
	  $("#crop_h").val(coords.h);
	}
	</script>
<% end %>

<div class="row">
  <div class="span4">
	<h1><%= @title %></h1>
</div>		
  <div class="span3">
	<%= form_for [:admin, @picture] do |f| %>
	  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
	    <%= f.hidden_field attribute, :id => attribute %>
	  <% end %>
<%= f.submit "Save Crop", :class => "btn btn-primary" %>
	<% end %>	
  </div>	
</div>	
<div class="row">
  <div class="span12">
<%= image_tag @picture.photo_url(:large), :id => "cropbox" %>
</div>	
</div>	