<div class="row">
  <div class="span8">
	<% title "Photos" %>

	<h1><%= @title %></h1>
  </div>
  <div class="span4">
	  <%= link_to 'Upload Photo', new_admin_picture_path, :class => 'btn btn-primary pull-right' %>
  </div>
</div>

<div class="row">
  <div class="span12">


	<table class="table table-striped">
	  <thead>
		  <tr>
		    <th>Picture Thumbnail</th>
		    <th><%= sortable "title" %></th>
		    <th><%= sortable "updated_at", "Date Added" %></th>
		    <th><%= sortable "published", "On photos page?" %></th>
		    <th>Blog post?</th>		
		  </tr>
	  </thead>
	  <tbody>
		<% @pictures.each do |picture| %>
		  <tr>
		    <td><%= image_tag picture.photo_url(:thumb) if picture.photo? %></td>
		    <td><%= picture.title %></td>
		    <td><%= picture.updated_at.strftime("%D") %></td>	
		    <td><% if picture.published? %><span class="label label-success">Published</span><% else %><span class="label">Unpublished</span><% end %></td>	
		    <td><%= link_to "View Post", post_path(picture.posts.first) if picture.has_post? %></td>			
		    <td>
		        <%= link_to 'View Sizes', [:admin, picture], :class => "btn btn-mini" %>
		        <%= link_to 'Edit', edit_admin_picture_path(picture), :class => "btn btn-mini" %>	
		      <% if can? :destroy, picture %>
		        <%= link_to 'Delete', [:admin, picture], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger" %>
		      <% end %>
		    </td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<%= paginate @pictures %>





  </div>
</div>