<% title @picture.title %>

<h1><%= @title %></h1>

<dl class="dl-horizontal">
  <dt><strong>Description</strong></dt>
  <dd><%= @picture.description %></dd>
  <dt><strong>Large 640 x 480</strong></dt>
  <dd><div class="well"><%= image_tag @picture.image.url(:large) %></div></dd>
  <dt><strong>Square 360 x 360</strong></dt>
  <dd><div class="well"><%= image_tag @picture.image.url(:square) %></div></dd>
  <dt><strong>Medium 480 x 360</strong></dt>
  <dd><div class="well"><%= image_tag @picture.image.url(:medium) %></div></dd>
  <dt><strong>Small 320 x 240</strong></dt>
  <dd><div class="well"><%= image_tag @picture.image.url(:small) %></div></dd>
  <dt><strong>Thumb 100 x 75</strong></dt>
  <dd><div class="well"><%= image_tag @picture.image.url(:thumb) %></div></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", admin_pictures_path, :class => 'btn'  %>
<%- if can? :destroy, @picture -%>
  <%= link_to "Delete", admin_picture_path(@picture),
              :method => 'delete',
              :confirm => 'Are you sure?',
              :class => 'btn btn-danger' %>
<%- end -%>
</div>

<%= content_for(:side) do %>

<% end %>