<div class="row">
  <div class="span12">
	<% title @picture.title %>

	<h1><%= @title %></h1>

	<dl class="dl-horizontal">
	  <dt><strong>Description</strong></dt>
	  <dd><%= @picture.description %></dd>
	  <dt><strong>Large <%= @picture.image_geometry(:large).width.to_i %> x <%= @picture.image_geometry(:large).height.to_i %></strong></dt>
	  <dd><%= image_tag @picture.image.url(:large) %></dd>
	  <dt><strong>Medium <%= @picture.image_geometry(:medium).width.to_i %> x <%= @picture.image_geometry(:medium).height.to_i %></strong></dt>
	  <dd><%= image_tag @picture.image.url(:medium) %></dd>
	  <dt><strong>Small <%= @picture.image_geometry(:small).width.to_i %> x <%= @picture.image_geometry(:small).height.to_i %></strong></dt>
	  <dd><%= image_tag @picture.image.url(:small) %></dd>
	  <dt><strong>Thumb <%= @picture.image_geometry(:thumb).width.to_i %> x <%= @picture.image_geometry(:thumb).height.to_i %></strong></dt>
	  <dd><%= image_tag @picture.image.url(:thumb) %></dd>
	</dl>

	<div class="form-actions">
	  <%= link_to "Back", admin_pictures_path, :class => 'btn'  %>
	<%- if can? :destroy, @picture -%>
	  <%= link_to "Delete", admin_picture_path(@picture),
	              :method => 'delete',
	              :confirm => 'Are you sure?',
	              :class => 'btn btn-danger' %>
	<%- end -%>
	</div>
  </div>
</div>