<div class="white-bg-top">
	<div class="container">
		<div class="row">
		  <div class="span24">
		  	<h1>Unlikely revivalists</h1>
			<p>Men and women stopping at nothing to establish the Kingdom in their sphere of influence.</p>
		  </div>
		</div>
	</div>
</div>		

<div class="container">
	<div class="row">
	<% @friends.each do |f| %>	
	  <div class="span8">
	  	<h3><%= f.title %></h3>
		<div class="page-box small">		
		<%= image_tag f.picture.image.url(:thumb) %>
			<div class="container">			
				<h6><%= f.name %></h6>			
				<%= markdown(f.description, 280) %>
				<p><%= link_to f.url, f.url %></p>
			</div>	
		</div>		
	  </div>
	<% end %>
	</div>
	<div class="row">
		<div class="span24 pad"></div>
	</div>	
	<div class="row">
	  <div class="span24">
		<% @links.each do |l| %>	
			<%= link_to l.name, l.url, :class => "btn" %>&nbsp;&nbsp;
		<% end %>
	  </div>	
	</div>	
	<div class="row">
		<div class="span24 pad"></div>
	</div>	
</div>