<div class="row">
	<div class="span12">	
		<%= markdown(@intro.content) %>
	</div>
</div>	
<div class="row">
  <div class="span4">
  	<h1>Latest Post</h1>
	<%= render :partial => @post, :locals => {:home_page => true} %>
  </div>
  <div class="span4">
  	<h1>Upcoming Events</h1>
	<p>
  </div>
  <div class="span4">
  	<h1>Featured Product</h1>
	<%= render @product %>
	<p><%= link_to "See all products", products_path, :class => "btn" %></p>	
  </div>

</div>

<div class="row">
	<% @pictures.each do |picture| %>  

 
		<div class="span4">
		<%= link_to image_tag(picture.image.url(:thumb)), picture.has_post? ? post_path(picture.posts.first) : pictures_path(:picture => picture.id) %>
		</div>

	<% end %>
</div>

<div class="row">
  <div class="span12">	
	<h1>Instagram</h1>
	<% @instagrams.each do |instagram| %>
		<%= link_to (image_tag instagram.thumbnail_url), instagram.link_url %>
	<% end %>
	</div>
</div>