<% title "Welcome" %>

<%= content_for(:nav) do %>
	<div class="nav-intro">
		<%= raw(@intro.content) %>
		<%= link_to "Read More", paul_path, :class => "btn btn-primary" %>
	</div>	

	<div class="nav-tagline">
		<h1>What is beautiful to you?</h1>
	</div>
<% end %>

<div class="container">
	<div class="row">
	  <div class="span8">
	  	<h1><small>My thoughts</small><br />LATEST POST<%= link_to image_tag("theres_more.png"), posts_path, :class => "pull-right" %></h1>
		<%= render :partial => @post, :locals => {:home_page => true} %>
	  </div>
	  <div class="span8">
	  	<h1><small>My ministry schedule</small><br />UPCOMING EVENTS<%= link_to image_tag("theres_more.png"), events_path, :class => "pull-right" %></h1>
		<%= render :partial => @events, :locals => {:home_page => true} %>	
		<div class="read-more" style="padding-top: 27px; border-bottom:2px solid #FFF; ">
			<%= link_to "See all events", events_path, :class => "btn" %>
		</div>	
	  </div>
	  <div class="span8">
	  	<h1><small>My books and resources</small><br />FEATURED PRODUCT<%= link_to image_tag("theres_more.png"), products_path, :class => "pull-right" %></h1>
		<%= render :partial => @product, :locals => {:home_page => true} %>
	  </div>
	</div>
	<div class="row">
		<div class="span24 pad"></div>
	</div>	
</div>	

<div class="filmstrip-bg">
	<div class="container">
		<div class="row">
			<div class="span24">
				<h1><small>My photos</small><br />LATEST PHOTOS</h1>
				<h5>From Paul's Camera <%= image_tag "pm.png", :alt => "Paul Manwaring's Photos" %>&nbsp;&nbsp;&nbsp;From Blog <%= image_tag "blog.png", :alt => "Paul Manwaring's Blog Posts" %></h5>
			</div>
		</div>
		
		<div class="row">
			<% @pictures.each do |picture| %>  
			<div class="span8" style="position:relative; ">
				<%= image_tag picture.photo_url(:small) %>
				<%- if picture.has_post? -%>
					<%= link_to "", post_path(picture.posts.first), :class => "post-link" %>					
				<%- else -%>
					<%= link_to "", pictures_path(:picture => picture.id), :class => "picture-link" %>				
				<%- end -%>
			</div>
			<% end %>
		</div>

		<div class="row">
			<div class="span24">
				<h5>From Instagram <%= image_tag "instagram.png", :alt => "Paul Manwaring's Instagram" %></h5>
			</div>	
		</div>
		<div class="row">
			<% @instagrams.each do |instagram| %>
		    <div class="span6" style="position:relative; "><%= image_tag instagram.low_resolution_url, :width => "230", :height => "230" %><%= link_to "", instagram.link_url, :class => "instagram-link" %></div>
			<% end %>

		</div>

	</div>
</div>	