<div class="row">
  <div class="span3">
  	<h1>Nursing</h1>
	<%= markdown(@nursing.content) %>
  </div>
  <div class="span3">
  	<h1>Prison Service</h1>
	<%= markdown(@prison_service.content) %>
  </div>
  <div class="span3">
  	<h1>Family</h1>
	<%= markdown(@family.content) %>
  </div>
</div>

<div class="row">
  <div class="span3">
  	<h1>Interests</h1>
	<%= markdown(@interests.content) %>
  </div>
  <div class="span3">
  	<h1>Faith Journey</h1>
	<%= markdown(@faith_journey.content) %>
  </div>
  <div class="span3">
  	<h1>Present Career</h1>
	<%= markdown(@present_career.content) %>
  </div>
</div>

<div class="row">
  <div class="span3">
  	<h1>Life Messages</h1>
	<%= markdown(@life_messages.content) %>
  </div>
  <div class="span3">
  	<h1>World View</h1>
	<%= markdown(@world_view.content) %>
  </div>
  <div class="span3">
  	<h1>Sonship</h1>
	<%= markdown(@sonship.content) %>
  </div>
</div>


<div class="row">
  <div class="span12">
  	<h1>Connect with Paul</h1>
  </div>
</div>