<% title "Schedule" %>

<div class="container">

	<div class="row">
		<div class="span24">
			<h1><%= @title %></h1>
		</div>
	</div>		

	<% @events.each do |event| %>	
		<div class="row">
			<a name="<%= event.id %>"></a>	
			<div class="span3">
				<div class="post-date">
					<p class="post-day"><%= event.starts_at.strftime("%d") %></p>
					<p class="post-month"><%= event.starts_at.strftime("%^b") %></p>						
				</div>
			</div>
				<div class="span8">
					<%= image_tag(event.banner_url(:small)) if event.banner? %>	
				</div>	
				<div class="span13 event-box">
					<h6><%= event.title %></h6>
					<p class="place"><%= event.location_name %><br /><%= event.location %></p>
					<p class="date"><%= nice_date(event.starts_at, event.ends_at, true) %></p>
					<% if event.url_filled? %> 
					  <%= link_to "Event Website", event.url, :class => "btn" %> 
					<% else %>
					  <%= link_to "Contact us for Event Information", contact_path(:inquiry_id => 5) %>
					<% end %>										
				</div>
		</div>	
	<% end %>	
		
	<div class="row">
		<div class="span24" style="margin-top:20px; ">
			<%= paginate(@events) %>
		</div>
	</div>		
</div>

<div class="white-bg" style="margin-top:27px; ">
	<div class="container">	
		<div class="row">
		  <div class="span24">
		  	<h1>Invite Paul</h1>
			<p>Planning an event? Here's how you can <%= link_to "invite Paul", new_event_path %></p>
		  </div>
		</div>
	</div>
</div>