<%= simple_form_for [:admin, @post], :html => { :class => 'form-horizontal' } do |f| %>
  
<fieldset>
<legend><%= controller.action_name.capitalize %> Post</legend>


		
		<%= f.association :category, :input_html => { :class => 'chzn-select', 'data-placeholder' => 'Choose a category...' } %>
		
		<%= f.association :picture, :collection => Picture.order('updated_at desc'), :include_blank => "Default", :input_html => { :class => 'chzn-select' } %>		


		<%= f.input :title %>


		<%= f.input :content %>
	
		<%= f.association :tags, :collection => @tags.collect {|t| [t.tagstring, t.id]}, :input_html => { :class => 'chzn-select', 'data-placeholder' => 'Add tags...' } %>
  
		<%= f.input :published, :collection => [['Yes - Show post in website', true] ,['No - Hide post', false]], :as => :radio %>
	
	</fieldset>

	  <div class="form-actions">

    	<%= link_to "Cancel", admin_posts_path, :class => "btn small grey" %> <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
