<%= render :partial => "tabs", :locals => { tab: "posts" } %>

<div id="content"><div class="pad">
	
	<div class="leftcol">	
	
	<div class="results_info">
		<p class="results_total">
			<%= pluralize(@posts.count, 'post') %>
		</p>
	</div>

	<table>
	  <tr>
	    <th>Title</th>
	    <th></th>
	  </tr>

	<% @posts.each do |post| %>
	  <tr>
	    <td class="bold"><%= link_to post.title, post_path(post), :target => "_blank" %></td>
	    <td>
	      <% if can? :update, post %>
	        <%= link_to 'Edit', edit_admin_post_path(post), :class => "btn small" %>
	      <% end %>

	      <% if can? :destroy, post %>
	        <%= link_to 'Delete', [:admin, post], :confirm => 'Are you sure?', :method => :delete, :class => "btn grey small" %>
	      <% end %>
	    </td>
	  </tr>
	<% end %>
	</table>
	
	</div>
	
	<div class="rightcol">

			<div class="box notes">
				<h2>Tags</h2>
				
				<%= render partial: "admin/tags/form", object: @tag %>

				<ul id="tags" class="note">		
					<% if @tags.present? %>
						<%= render @tags %>
					<% else %>
						<li class="note none">- no tags -</li>
					<% end  %>										
				</ul>

			</div>
		</div>	
	
</div></div>