<%= content_for(:head) do %>
	<%= javascript_tag do %>
	    var disqus_shortname = 'paulmanwaring';
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
	<% end %>
<% end %>

<div class="row">
  <div class="span6">
	<% title "Blog" %>

	<h1><%= @title %></h1>
  </div>
  <div class="span6">
	<span class="pull-right">
		<%= link_to "Moderate Comments in Disqus", "http://paulmanwaring.disqus.com/admin/moderate/#/all", :class => "btn btn-info", :target => "_blank" %>		
		&nbsp;
		<%= link_to "New Post",
	            new_admin_post_path,
	            :class => 'btn btn-primary' %>
	</span>
  </div>
</div>
<div class="row">
  <div class="span9">


	<table class="table table-striped">
	  <thead>
		  <tr>
		    <th><%= sortable "posts.title", "Title" %></th>
		    <th><%= sortable "categories.name", "Category" %></th>
		    <th><%= sortable "users.firstname", "Author" %></th>		
		    <th><%= sortable "posts.published_at", "Published At" %></th>			
		    <th></th>
		  </tr>
	  </thead>
	  <tbody>
	    <% @posts.each do |post| %>
	      <tr>
	        <td><% if post.published? %>
				<%= link_to post.title, post_path(post) %>
				<% else %>
				<%= link_to post.title, admin_post_path(post) %>			
				<% end %></td>
			<td><%= post.category.name %></td>
			<td><%= post.user.firstname %> <%= post.user.lastname %></td>			
			<td><% if post.published? %><%= post.published_at.strftime("%A %B %-d, %Y")%><% else %><span class="label">Unpublished</span><% end %></td>	
	        <td>
	          <% if can? :update, post %><%= link_to "Edit", edit_admin_post_path(post), :class => 'btn btn-mini' %><% end %>
	          <% if can? :destroy, post %><%= link_to "Delete",
	                      admin_post_path(post),
	                      :method => :delete,
	                      :confirm => 'Are you sure?',
	                      :class => 'btn btn-mini btn-danger' %><% end %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<%= paginate @posts %>

  </div>
  <div class="span3">
	<%= render 'admin/tags/tags' %>
  </div>
</div>