<% title "Blog" %>

<h1><%= @title %></h1>

<table class="table table-striped">
  <thead>
	  <tr>
	    <th><%= sortable "posts.title", "Title" %></th>
	    <th><%= sortable "categories.name", "Category" %></th>
	    <th><%= sortable "users.firstname", "Author" %></th>		
	    <th><%= sortable "posts.published_at", "Published At" %></th>			
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><% if post.published? %>
			<%= link_to post.title, post_path(post) %>
			<% else %>
			<%= link_to post.title, admin_post_path(post) %>			
			<% end %></td>
		<td><%= post.category.name %></td>
		<td><%= post.user.firstname %> <%= post.user.lastname %></td>			
		<td><% if post.published? %><%= post.published_at.strftime("%A %B %-d, %Y")%><% else %><span class="label">Unpublished</span><% end %></td>	
        <td>
          <%= link_to "Edit", edit_admin_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to "Delete",
                      admin_post_path(post),
                      :method => :delete,
                      :confirm => 'Are you sure?',
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>

<%= link_to "New Post",
            new_admin_post_path,
            :class => 'btn btn-primary' %>


<%= content_for(:side) do %>

	<%= render 'admin/tags/tags' %>

<% end %>