<% title "Blog Posts" %>
<% selected_nav "pages" %>

<%= show_breadcrumbs() %>
<div id="section_head" class="index"><div class="pad">
	
	<div class="actionbar">
		<% if can? :create, Post %>
		  <%= link_to 'New Post', new_admin_post_path, :class => 'btn add' %>
		<% end %>
	</div>
	
	<h1><%= @title %></h1>

</div></div>

<div id="content"><div class="pad">
	
	<div class="results_info">
		<p class="results_total">
			<%= pluralize(@posts.count, 'post') %>
		</p>
	</div>

	<table>
	  <tr>
	    <th>Title</th>
	    <th></th>
	  </tr>

	<% @posts.each do |post| %>
	  <tr>
	    <td class="bold"><%= link_to post.title, post_path(post), :target => "_blank" %></td>
	    <td>
	      <% if can? :update, post %>
	        <%= link_to 'Edit', edit_admin_post_path(post), :class => "btn small" %>
	      <% end %>

	      <% if can? :destroy, post %>
	        <%= link_to 'Delete', [:admin, post], :confirm => 'Are you sure?', :method => :delete, :class => "btn grey small" %>
	      <% end %>
	    </td>
	  </tr>
	<% end %>
	</table>
	
</div></div>