<%= render :partial => "tabs", :locals => { tab: "posts" } %>

<div id="content" class="tab-container"><div class="tab-content pad">
	

	
		<div class="breadcrumbs">
			<ul class="breadcrumb">				
				<li><%= link_to "Posts", admin_posts_path %></li>
				<li>Preview</li>				
			</ul>
		</div>
		
		<div class="actions into_breadcrumb">
			<%= link_to "Edit Post", edit_admin_post_path(@post), :class => "btn" %>
			<%= link_to "Publish Now", publish_admin_post_path(@post), :class => "btn grey" %>			
		</div>		
		
		<h2><%= @post.title %></h2>
		
		<p><strong>Category:</strong> <%= link_to @post.category.name, category_path(@post.category) %></p>
		<p><strong>Tags:</strong> <%= @post.tags.collect {|t| t.tagstring }.join(", ") %></p>
		<p>&nbsp;</p>
		<%= raw(@post.content) %>	
	
	
</div></div>