<div class="row">
  <div class="span9">
  	<% title "Categories" %>

	<h1><%= @title %></h1>
  </div>
  <div class="span3">
	<% if can? :create, Category %><%= link_to "New Category", new_admin_category_path, :class => 'btn btn-primary pull-right' %><% end %>
  </div>
</div>

<div class="row">
  <div class="span12">


	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= sortable "name" %></th>	    
		  <th><%= sortable "posts_count", "Posts" %></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
		<% @categories.each do |category| %>
	      <tr>
	        <td class="bold"><%= link_to category.name, category_path(category), :target => "_blank" %></td>
			<td><%= category.posts.size %></td>
	        <td>
	          	<% if can? :update, category %>
					<%= link_to "Edit", edit_admin_category_path(category), :class => 'btn btn-mini' %>
				<% end %>
				<% if can? :destroy, category %>	
	          		<%= link_to "Delete", admin_category_path(category), 
								:method => :delete, 
								:confirm => 'Are you sure? This will delete all posts within this category', 
								:class => 'btn btn-mini btn-danger' %>
				<% end %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	
  </div>
</div>
