<%= simple_form_for [:admin, @product], :html => { :multipart => true, :class => 'form-horizontal upload_form' } do |f| %>
  
<fieldset>
<legend><%= controller.action_name.capitalize %> Product</legend>

  <%= f.input :featured, :label => "Featured on Homepage", :as => :radio_buttons %>
  <%= f.input :product_type, :collection => Product::PRODUCT_TYPES.collect {|t| [t.titleize, t]}, :input_html => { :class => 'chzn-select', 'data-placeholder' => 'Choose a type...' } %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :short_description, :input_html => { :rows => 6, :style => "width:500px;" } %>
  <%= image_tag(@product.image_url(:small), :class => "pull-right") if @product.image? %>
  <%= f.input :url, :label => "URL of link to the Bethel Store" %>
  <%= f.input :image, :label => "Image file for product" %>	
  <%= f.input :remote_image_url, :label => "or specify a URL for the image" %>
  <%= f.input :image_cache, :as => "hidden" %>	

</fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_products_path, :class => "btn" %>
  </div>
<% end %>

<%= render "layouts/uploading" %>