<div class="row">
  <div class="span12">

<% title "Product" %>

<h1><%= @title %></h1>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @product.title %></dd>
  <dt><strong>Author:</strong></dt>
  <dd><%= @product.author %></dd>
  <dt><strong>Image:</strong></dt>
  <dd><%= image_tag @product.image_url(:small) %></dd>
  <dt><strong>Short Description:</strong></dt>
  <dd><%= raw(@product.short_description) %></dd>
  <dt><strong>Url:</strong></dt>
  <dd><%= link_to @product.url, @product.url, :target => "_blank" %></dd>
	
</dl>	

  <%= link_to "Back", admin_products_path, :class => "btn" %>
  <%= link_to "Edit", edit_admin_product_path(@product), :class => "btn" %>
  <%= link_to "Destroy", admin_product_path(@product), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>

</div>
</div>