<% home_page ||= false %>

<div class="page-box">
	<%= image_tag post.picture_url(:thumb), :class => "post-thumbnail" %>
	<div class="container">	
		<h6><%= post.title %></h6>
		<% unless home_page %>
		<p>By <%= post.author %></p>
		<p>Posted on <%= nice_date(post.published_at) %></p>		
		<p><%= render post.tags %></p>
		<p><%= link_to post.title, post_path(post) + "#disqus_thread", "data-disqus-identifier" => post.id %></p>
		<% end %>
		<p><%= markdown(post.content) %></p>
		<p><%= link_to "Read More", post_path(post), :class => "btn" %></p>
	</div>	
</div>