<% home_page ||= false %>

<% unless home_page %>
	<%= content_for(:head) do %>
		<%= javascript_tag do %>
		    var disqus_shortname = 'paulmanwaring';
		    (function () {
		        var s = document.createElement('script'); s.async = true;
		        s.type = 'text/javascript';
		        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		    }());
		<% end %>
	<% end %>
<% end %>

<div class="page-box <%= home_page ? "home" : "" %>">
	<%= image_tag post.picture.image.url(:thumb), :class => "post-thumbnail" if post.picture.present? %>
	<div class="container">	
		<h6><%= link_to post.title, post_path(post) %></h6>

		<% unless home_page %>

		<p class="author">By <%= post.author %></p>		

		<p class="date"><%= post.published_at > 1.week.ago ? time_ago_in_words(post.published_at) + " ago" : nice_date(post.published_at, true) %></p>			

		<p class="tags"><%= render post.tags %></p>

		<p class="comments"><%= link_to post.title, post_path(post) + "#disqus_thread", "data-disqus-identifier" => post.id %></p>

		<hr>

		<% end %>
		<%= markdown(post.content, home_page ? 450 : 280) %>
	</div>	
</div>
<div class="read-more">
	<%= link_to "Read More", post_path(post), :class => "btn" %>
</div>