<%= content_for(:head) do %>
	<%= javascript_tag do %>
	    var disqus_shortname = 'paulmanwaring';
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
	<% end %>
<% end %>

<div class="container">
<div class="row">
	<div class="span24 pad"></div>
</div>	
<div class="row">
	
	<div class="span17">
			
		<% @posts.in_groups_of(2, false) do |posts| %>  
			<div class="row">
		      <% posts.each do |post| %>  
		      <div class="span8">
				<h5><%= post.category.name %></h5>
			    <%= render post %>
			  </div>
		      <% end %>  
			</div>
		<% end %>	

	</div>

	<div class="span7">
		<h5>&nbsp;</h5>
		<%= link_to "Subscribe to Blog", posts_path(:format => "atom"), :class => "btn rss" %>
		
		<%= form_tag(posts_path, :method => "get", :class => "blog") do %>
			<%= text_field_tag(:q, params[:q]) %><%= submit_tag("", :name => nil) %>
		<% end %>
		
		<h2>Categories <%= image_tag "category.png" %></h2>

		<ul>
		<% @categories.each do |c| %>
			<li><%= link_to c.name, category_path(c) %></li>
		<% end %>	
		</ul>

		<h1>Tag List</h1>

		<%= tag_cloud(@tagcloud) %>

		
	</div>	

</div>


<div class="row">
	<div class="span12">
		<%= paginate @posts %>
	</div>	
</div>	

</div>