<% title @post.title %>

<%= content_for(:head) do %>
	<%= javascript_tag do %>
		var disqus_title = '<%= @title %>'; 
		var disqus_developer = <%= Rails.env == "development" ? 1 : 0 %>;
		var disqus_shortname = 'paulmanwaring';		
		var disqus_identifier = '<%= @post.id %>';	
		
		(function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();	
	<% end %>
<% end %>

<h1><%= @title %></h2>


<%= raw(@post.content) %>


<div id="disqus_thread"></div>