<% title @post.title %>

<%= content_for(:head) do %>
	<%= javascript_tag do %>
		var disqus_title = '<%= @title %>'; 
		var disqus_developer = <%= Rails.env == "development" ? 1 : 0 %>;
		var disqus_shortname = 'paulmanwaring';		
		var disqus_identifier = '<%= @post.id %>';	
		
		(function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());			
	<% end %>
<% end %>

<div class="container">
<div class="row"><div class="span24 pad"></div></div>

	<div class="row">
		<div class="span17">
			
				<div class="row">
					<div class="span4">
						<div class="post-date">
							<p class="post-day"><%= @post.published_at.strftime("%d") %></p>
							<p class="post-month"><%= @post.published_at.strftime("%^b") %></p>						
						</div>
						
					</div>	
					<div class="span12">
					
						<h6><%= @title %></h6>

						<p class="author">By <%= @post.author %></p>				

						<p>
							<span class="category"><%= link_to @post.category.name, category_path(@post.category), :class => "tag-link" %></span>
							&nbsp;&nbsp;
							<span class="tags"><%= render @post.tags %></span>
							&nbsp;&nbsp;
							<span class="comments"><%= link_to @post.title, post_path(@post) + "#disqus_thread", "data-disqus-identifier" => @post.id %></span>							
						</p>
						
					</div>							
				</div>
				<div class="row">
					<div class="span16">
						<%= image_tag @post.picture.image.url(:medium) if @post.picture.present? %>	
						<div class="post-content">					
							<%= raw(@post.content) %>
						</div>
					</div>
				</div>							
			
		</div>
		<div class="span7">
			<%= render :partial => "posts/side" %>
		</div>
	</div>
</div>	
<% unless @post.user.paul? %>
<div class="gray-bg">
	<div class="container">
		<div class="row">
			<div class="span24">
				<h1><%= @post.user.name %></h1>
			</div>
		</div>
		<div class="row">	
			<div class="span5"><%= image_tag @post.user.avatar.url(:small) %></div>
			<div class="span10"><%= raw(@post.user.description) %></div>
			<div class="span7 offset2">
				<p><%= link_to "All posts by this author", posts_path(:author => @post.user.id), :class => "btn" %></p>
				<% if @post.user.url.present? %>
				<p><%= link_to "Author's Website", @post.user.url, :class => "btn" %></p>
				<% end %>
			</div>
		</div>	
	</div>
</div>
<div class="white-bg" style="margin-top:0px; ">
<% else %>
<div class="white-bg">
<% end %>

	<div class="container">
		<div class="row">
			<div class="span24">
				<div id="disqus_thread"></div>
			</div>
		</div>	
	</div>
</div>