<% title "Friends" %>

<div class="row">
  <div class="span6">

	<h1><%= @title %></h1>
  </div>
  <div class="span6">
	<%= link_to "New Friend", new_admin_friend_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>
<div class="row">
  <div class="span12">

<table class="table table-striped">
  <thead>
    <tr>
		<th></th>
	    <th><%= sortable "name" %></th>
	    <th><%= sortable "description" %></th>
	    <th><%= sortable "featured" %></th>	
		<th></th>
	 </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
	      <td><%= image_tag friend.picture.image.url(:thumb) if friend.picture %></td>
	      <td><%= friend.name %></td>
	      <td><%= friend.featured? ? status_label("featured") : status_label("link") %></td>	
        <td>
		    <%= link_to "View", admin_friend_path(friend), :class => "btn btn-mini" %>
		    <%= link_to "Edit", edit_admin_friend_path(friend), :class => "btn btn-mini" %>
		
            <%= link_to "Delete", admin_friend_path(friend), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @friends %>

</div></div>