<%= simple_form_for [:admin, @user], :html => { :multipart => true, :class => 'form-horizontal upload_form' } do |f| %>
  
<fieldset>
<legend><%= controller.action_name.capitalize %> User</legend>

	<%= f.input :firstname %>
	<%= f.input :lastname %>
	<%= f.input :role, :collection => User::ROLES, :input_html => { :class => 'chzn-select', 'data-placeholder' => 'Choose a role...' } %>		
	<%= f.input :email %>
	<%= f.input :description %>
	<%= image_tag(@user.avatar_url(:small), :class => "pull-right") if @user.avatar? %>		
	<%= f.input :url, :label => "Website URL" %>	
	<%= f.input :avatar, :label => "Profile picture" %>	
	<%= f.input :remote_avatar_url, :label => "or specify a URL for the image" %>
	<%= f.input :avatar_cache, :as => "hidden" %>	
	
</fieldset>

<div class="form-actions">

    	<%= link_to "Cancel", admin_users_path, :class => "btn small grey" %> <%= f.button :submit, :class => 'btn btn-primary' %>
</div>
<% end %>

<%= render "layouts/uploading" %>