

<div class="row">
  <div class="span9">
	<% title "Users" %>

	<h1><%= @title %></h1>
  </div>
  <div class="span3">
  </div>
</div>
<div class="row">
  <div class="span12">

<table class="table table-striped">
  <thead>
	  <tr>
		<th></th>
	    <th><%= sortable "firstname" %></th>
	    <th><%= sortable "lastname" %></th>	
	    <% if can? :manage, :roles %><th><%= sortable "role" %></th><% end %>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.avatar? ? image_tag(user.avatar_url(:thumb)) : "no avatar" %></td>
	    <td><%= link_to user.firstname, [:admin, user] %></td>
	    <td><%= link_to user.lastname, [:admin, user] %></td>	
	    <% if can? :manage, :roles %><td><span class="label label-info"><%= user.role %></span></td><% end %>
		<td><%= link_to "Edit", edit_admin_user_path(user), :class => 'btn btn-mini' %>
	    <% if can? :manage, :roles %>			
          <%= link_to "Delete",
                      admin_user_path(user),
                      :method => :delete,
                      :confirm => 'Are you sure? This will delete this user and all their posts.',
                      :class => 'btn btn-mini btn-danger' %>
		<% end %>			
	  </tr>	
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
</div>
</div>
