<% home_page ||= false %>

<% if home_page %>
	<div class="page-box home">
		<div class="container">	
			<%= image_tag product.image_url(:small), :class => "product-image" %>	
		
			
			<h6><%= product.title %></h6>
			<p><%= markdown(product.short_description, 280) %></p>
		</div>
	</div>
	<div class="read-more">
	<%= link_to "Buy at iBethel", product.url, :class => "btn btn-inverse" %><% if home_page %>&nbsp;<%= link_to "See all products", products_path, :class => "btn" %><% end %>
	</div>
<% else %>

	<h3 class="theres-more"><%= product.product_type %></h3>

	<div class="product-box"><%= image_tag product.image_url(:small), :class => "product-image" %></div>
	<div class="product-description">
		<h6><%= product.title %></h6>
		<p><%= markdown(product.short_description) %></p>
	</div>
	<div class="read-more lightgray-bg">
	<%= link_to "Buy at iBethel", product.url, :class => "btn btn-inverse" %><% if home_page %>&nbsp;<%= link_to "See all products", products_path, :class => "btn" %><% end %>
	</div>

<% end %>		