<!DOCTYPE html>
<html>
<head>
	<title>PaulManwaring.com - <%= @title || "Admin" %></title>
	<%= javascript_include_tag "admin/admin" %>	
	<%= stylesheet_link_tag "admin", :media => "all" %>	
	
	<%= javascript_include_tag "http://use.typekit.com/ypd7ktl.js" %>
		<script type="text/javascript">
	//<![CDATA[
	try{Typekit.load();}catch(e){}
	//]]>
	</script>	
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>

<body id="<%= @selected_nav %>" class="admin_app">
	<div id="header"><div class="pad">
		<div id="quicksearch">
		</div>

		<%= link_to image_tag("web-purple-logo-24.jpg", :border => 0, :class => "logo"), root_path %>

		<%= link_to "ADMIN", admin_home_path, :class => "admin" %><span class="vdivider">|</span>

		<% if user_signed_in? %>   
	
			<%= link_to current_user.email, root_path, :class => current_user.email.length > 7 ? 'mynamesmall' : 'myname' %>
	
			<%= link_to "Logout", destroy_user_session_path, :class => 'logout' %> 

		<% else %>

			<%= link_to "Sign in", new_user_session_path %>  

		<% end %>
	</div></div>


	<div id="nav">
		<div class="nav">
			<ul class="sf-menu sf-horizontal">
				<li<%= @selected_nav == "pages" ? " class='selected'" : "" %>><%= link_to "Content", admin_posts_path %>
					<ul>						
						<% if can? :update, Post %><li><%= link_to "Blog", admin_posts_path %></li><% end %>					
						<% if can? :update, Page %><li><%= link_to "Page Blocks", admin_pages_path %></li><% end %>
						<% if can? :update, Picture %><li><%= link_to "Pictures", admin_pictures_path %></li><% end %>											
					</ul>
				</li>
				<li<%= @selected_nav == "people" ? " class='selected'" : "" %>><%= link_to "Users", admin_users_path %>
					<ul>						
						<% if can? :update, User %><li><%= link_to "Users", admin_users_path %></li><% end %>					
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	  <%- flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  <%- end -%>

	  <%= yield %>
	  
</body>
</html>