<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paul Manwaring - <%= @title || "Welcome" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield(:head) %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "PaulManwaring", root_path, :class => "brand" %>

        <div class="nav-collapse">
			<ul class="nav nav-pills">
			  <li class="<% if @selected_nav == "home" %>active<% end %>">
			     <%= link_to "Home", root_path %></li>
			  </li>
			
			  <li class="<% if @selected_nav == "paul" %>active<% end %>">
			     <%= link_to "Paul", "" %></li>
			  </li>
			
			  <li class="<% if @selected_nav == "blog" %>active<% end %>">
			     <%= link_to "Blog", posts_path %></li>
			  </li>
			
			  <li class="<% if @selected_nav == "schedule" %>active<% end %>">
			     <%= link_to "Schedule", events_path %>
			  </li>
			
			  <li class="<% if @selected_nav == "invite" %>active<% end %>">
			     <%= link_to "Invite", new_event_path %>
			  </li>
			
			  <li class="<% if @selected_nav == "store" %>active<% end %>">
			     <%= link_to "Store", products_path %>
			  </li>	
			
			  <li class="<% if @selected_nav == "give" %>active<% end %>">
			     <%= link_to "Give", "" %>
			  </li>
			
			  <li class="<% if @selected_nav == "friends" %>active<% end %>">
			     <%= link_to "Friends", "" %>
			  </li>	
			
			  <li class="<% if @selected_nav == "photos" %>active<% end %>">
			     <%= link_to "Photos", "" %>
			  </li>	
			
			<% if user_signed_in? && current_user.is_admin? %>
			  <li>
			     <%= link_to "Admin", admin_posts_path %>
			  </li>									
			<% end %>
			
			</ul>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
	
	<%- flash.each do |name, msg| -%>
		<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			<a class="close" data-dismiss="alert">x</a>
			<%= msg %>
		</div>
	<%- end -%>	
	
	<%= yield %>

  </div>
</body>
</html>